.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-inspector-form {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.App-inspector-form label {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.App-inspector-form input {
    padding: 4px;
    width: 100%;
}

.App-button {
    padding: 10px;
    border: none;
    background-color: #61dafb;
    font-weight: bold;
}
